<div>
<h1>Comida favorita</h1>
<p>*Lazaña</p>
<p>La lasaña es un plato típico de la cocina italiana que se elabora a partir de finas láminas de pasta que son rellenadas con carne, tomate, verduras, cebollas y normalmente son cocinadas con aceite de oliva.</p>
<p>*Pollo Broster</p>
<p>Es un pollo frito muy sabroso y crujiente que últimamente se viene sirviendo en muchos restaurantes de comida rápida (Tipo KFC) e incluso algunas versiones gourmet en restaurantes importantes. La mayoría de estos, se especializan en preparar este estilo de pollo rebozado con sabores tradicionales</p>
<p>*Encebollado</p>
<p>El encebollado cuyo significado genérico es comida aderezada con mucha cebolla y sazonada con especias, ​ es además un plato típico ecuatoriano originario de la región costa. Es considerado el plato insignia de la gastronomía ecuatoriana.​ Wikipedia
</p>
<p>*Chaulafan</p>
<p>El arroz frito es un plato de arroz cocido que se ha salteado en un wok o en una sartén y se suele mezclar con otros ingredientes como huevos, verduras, marisco o carne. A menudo se come solo o como acompañamiento de otro plato.</p>

<button (click)="navegar3()">Regresar a pagina principal</button>
</div>
